	/*
  	Flaticon icon font: Flaticon
  	Creation date: 19/06/2019 06:23
  	*/

@font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.eot");
    src: url("../fonts/Flaticond41d.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Flaticon.woff2") format("woff2"),
    url("../fonts/Flaticon.woff") format("woff"),
    url("../fonts/Flaticon.ttf") format("truetype"),
    url("../fonts/Flaticon.svg#Flaticon") format("svg");
    font-weight: normal;
    font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: "Flaticon";
        src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
    }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
    font-family: Flaticon;
    font-size: 20px;
    font-style: normal;
}

.flaticon-cloud:before { content: "\f100"; }
.flaticon-data:before { content: "\f101"; }
.flaticon-vps:before { content: "\f102"; }
.flaticon-shield:before { content: "\f103"; }
.flaticon-team:before { content: "\f104"; }
.flaticon-rocket:before { content: "\f105"; }
.flaticon-diamond:before { content: "\f106"; }
.flaticon-money:before { content: "\f107"; }
.flaticon-data-1:before { content: "\f108"; }
.flaticon-dashboard:before { content: "\f109"; }
.flaticon-support:before { content: "\f10a"; }
.flaticon-star:before { content: "\f10b"; }
.flaticon-star-1:before { content: "\f10c"; }
.flaticon-star-2:before { content: "\f10d"; }
.flaticon-plus:before { content: "\f10e"; }
.flaticon-line:before { content: "\f10f"; }